.newLetter{
   @apply w-full bg-[#08c] p-1;
}

.newLetter section::before {
   background-image: url(https://cyberwire.joommasters.com/themes/jms_cyberwire/assets/img/icon/env-icon.png);
   content: " ";
   height: 144px;
   top: -28px;
   left: 111px;
   position: absolute;
   width: 202px;
   z-index: 0;
}
.newLetter section{
   gap: 20px;
   @apply relative items-center justify-between  flex-wrap lg:flex-nowrap;
}

.newLetter section div h3{
   @apply text-[26px] text-white font-normal;
}

.newLetter section div span{
   color: rgba(255,255,255,.8);
   @apply text-lg pl-3.5 ml-3.5 leading-[2.15];
   border-left: 1px solid rgba(255,255,255,.8);
}

.newLetter section form{
   @apply w-full lg:w-[475px];
}
.newLetter section form input[type='text']{
   border-radius: 50px 0 0 50px;
   @apply h-[50px] w-full text-black bg-white p-[0_20px];
}

.newLetter section form input[type='submit']{
   border-radius: 0 50px 50px 0;
   @apply bg-[#069] text-white p-[0_30px] cursor-pointer;
}
.newLetter section form input:is([type='text'], [type='submit']){
   font-size: 15px;
   border: 2px solid #fff;
}


.publicFooter{  @apply w-11/12 m-auto;  }


.publicFooter ul:first-child {
   border-bottom: 1px solid #e5e5e5;
   @apply leading-[50px] flex gap-[1rem_0.625rem] justify-between p-[10px] flex-wrap; 
}



.publicFooter h2{ 
   @apply text-black text-[20px] font-normal md:pb-5;
}

.publicFooter ul li{
   @apply leading-[21px] p-[3px_0] text-[#555] ;
}


@media only screen and (max-width: 768px) {
   .publicFooter > div h2{ 
      cursor: pointer;
      border-bottom: 1px solid #e5e5e5;
   }

   .publicFooter > div ul {
      max-height: 0;
      overflow: hidden;
      padding: 7px;
      transition: max-height .3s ease-in-out;
   }
}