header{
   @apply bg-[#f8f8f8] py-2 px-8 text-[#555]  justify-between hidden md:flex;
}
header ul{
   @apply my-auto flex;
}
header ul li{
   @apply text-sm px-3.5;
   border-right: 1px solid #ddd;
}
header ul li:last-child{
   @apply flex gap-x-3;
   border-right: none;
}
:is(header,.publicFooter) ul li svg{ @apply my-auto h-4 fill-current }

nav .flex .relative svg{
   @apply h-[35px] w-[35px] fill-white bg-[#b2c1d6] rounded-full p-1.5;
}

nav .flex .relative .pingBounce{
   display: flex;
   @apply h-4 w-4 animate-bounce absolute top-0 right-0;
}
nav .flex .relative .pingBounce .relative{
   text-align: center;
   @apply rounded-full h-4 w-4 bg-sky-500 block leading-[14px] text-[12px] text-white font-extrabold;
}




/* 
text-align: center;
font-weight: bolder;
display: block; */